body{
    background-color: black;
}

h1{
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
}

.poster-content{
    width: 50%;
    margin-top: 70px;
    margin-left: 25%;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}

img{
    border: 5px solid white;
    width: 100%;
}

